//Color Variables
$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f4f2f2;
$color-grey-light-3: #f0eeee;
$color-grey-light-4: #ccc;

$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-grey-dark-4:#474B4F;
$color-grey-dark-5:#222629;
$color-grey-dark-6:#5a6168;
$color-grey-dark-7:#6c757d;

$color-white-1:#F5F5F5;

$color-black-1: #000;

$color-green-light-1:#598174;
$color-green-light-2:#4e796b;
$color-green-light-3: #7ed56f;
$color-green-light-4: #28b485;
$color-green-light-5:#4e7c6d;
$color-green-light-6: #55c57a;

$color-yellow-light-1:#fcd94e;

$line: 1px solid $color-grey-light-2;

$shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
$shadow-light: 0 2rem 5rem rgba(0,0,0,.06);

//Width variable
$default-font-size: 1.6rem;

//Responsive design
$bp-largest: 75em;     // 1200px
$bp-large: 68.75em;    // 1100px
$bp-medium: 56.25em;   // 900px
$bp-small: 37.5em;     // 600px
$bp-smallest: 31.25em; // 500px

