.rating {
    position: absolute;
    top: -27rem;
    height: 10px;
    margin: auto;  
    unicode-bidi: bidi-override;
    direction: rtl;
    margin-left: 2%;

    @include respond(phone){
      top: -28rem;
      left: 14rem;
    }
    
  }

  .rating:not(:checked) > input {
    display: none;
  }
    
  #like {
    bottom: -10px;
  }
  #like:not(:checked) > label {
    cursor:pointer;
    float: right;
    width: 30px;
    height: 30px;
    display: block;
    
    color: rgba(233, 54, 40, .4);
    line-height: 33px;
    text-align: center;
  }
  #like:not(:checked) > label:hover,
  #like:not(:checked) > label:hover ~ label {
    color: rgba(233, 54, 40, .6);
  }
  #like > input:checked + label:hover,
  #like > input:checked + label:hover ~ label,
  #like > input:checked ~ label:hover,
  #like > input:checked ~ label:hover ~ label,
  #like > label:hover ~ input:checked ~ label {
    color: rgba(233, 54, 40, .8);
  }
  #like > input:checked ~ label {
    color: rgb(233, 54, 40);
  }